{% extends 'imoveis/base.html' %}
{% block title %} Imóveis INC - Lista de Inquilinos {% endblock %}
{% block content %}
<h1>Lista de Inquilinos</h1>
<table class="table table-striped">
<thead>
<tr>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Email</th>
    <th>Endereço do imóvel</th>
</tr>
</thead>
<tr>
    {% for inquilino in inquilinos %}
        <td>{{inquilino.nome}}</td>
        <td>{{inquilino.telefone}}</td>
        <td>{{inquilino.email}}</td>
        <td>{{inquilino.imovel.endereco}}</td>
        {% empty %}
        <td>Nada encontrado</td>
    {% endfor %}

</tr>

</table>
{% endblock %}
