body {
    background-color: #262626;
}

primeira_row{
    background-color: ;
}

h1 {
    color: #ffffff;
    text-align: center;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.list-group-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-bottom: 2px;
}

.btn {
    margin-left: 5px;
}

.list-group-item h4 {
    color: red;
}
