<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Loja de Bicicleta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Aluguel de Bike</h1>

    <form action="{{ url_for('bike.adicionar') }}" method="post">
        <input type="text" name="modelo" placeholder="Insira o modelo" required>
        <label for="modelo">Escolha uma categoria: </label>
        <select id="modelo" name="categoria">
            <option value="mountain-bike">Mountain Bike</option>
            <option value="corrida">Corrida</option>
            <option value="bmx">BMX</option>
            <option value="passeio">Passeio</option>
            <option value="downhill">Downhill</option>
        </select>
        <input type="number" name="preco" placeholder="Valor da Bicicleta" required>
        <button type="submit">Adicionar</button>
    </form>

    <ul>
        {% for bike in bikes %}
        <li>

            {% if bike.status %}
            <del>{{loop.index}} - {{ bike.modelo}} - {{bike.categoria}} - {{bike.preco }}</del> - Vendida
            {% else %}
            {{ loop.index}} - {{ bike.modelo }} - {{bike.categoria}} - {{bike.preco }} - Em estoque
            {% endif %}
            {% if not bike.status %}
            <a href="{{ url_for('bike.remover', bike_id=loop.index0) }}" class="remover">[Remover]</a><a href="{{ url_for('bike.vendida', bike_id=loop.index0) }}">[Vender]</a>


            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>