<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>toDO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Lista de Tarefas</h1>

    <form action="{{ url_for('task.adicionar') }}" method="post">
        <input type="text" name="tarefa" placeholder="Nova tarefa." required>
        <button type="submit">Adicionar</button>
    </form>

    <ul>
        {% for tarefa in tarefas %}
        <li>
            {% if tarefa.completa %}
            <del>{{ loop.index}} - {{ tarefa.conteudo}}</del> - Concluido
            {% else %}
            {{ loop.index}} - {{ tarefa.conteudo }} - Em andamento
            {% endif %}
            {% if tarefa.completa %}
            <a href="{{ url_for('task.remover', tarefa_id=loop.index0) }}" class="remover">[Remover]</a>
            {% else %}
            <a href="{{ url_for('task.completar', tarefa_id=loop.index0) }}">[Alterar status]</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>